{% extends 'django_commentseasy/base.html' %}
{% load bootstrap3 %}
{% block comment_content %}

    <form method="post" action="{% url 'django_commentseasy:comment_form' %}" class="form"
          id="comment_id_{{ post_id }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" id="submit_button" value={{ post_id }}>
                {% bootstrap_icon "chevron-right" %} Comment
            </button>
        {% endbuttons %}
        <input type='hidden' name="post_id"  value={{ post_id }}>
        <input type='hidden' name="comment_type"  value="parent">
    </form>



{% endblock %}

