{% extends 'django_commentseasy/base.html' %}
{% load django_comments_easy %}


{% block comment_content %}
    <div style="display: inline-block" id="like_{{ comment }}">
    <form style="display: inline-block" action="{% url 'django_commentseasy:like_comment' %}" method="post">
    {% csrf_token %}
    {% ifequal state -1 %}

    {% endifequal %}
    {% ifequal state 0 %}
        <button type="submit"  class="like_button" value={{ comment }}>
   <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>

    {% endifequal %}
    {% ifequal state 1 %}
        <button type="submit"  class="like_button" value={{ comment }}>
   <span class="glyphicon glyphicon-thumbs-down"></span>
</button>

    {% endifequal %}
    <input type="hidden" value={{ comment }} name="comment_id">
    </form>
   </div>



{% endblock %}

