{% extends 'django_commentseasy/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <form method="post" action="comment/django_commentseasy/commentform/" class="form" >
     {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
    <button type="submit" class="btn btn-primary"  >
      {% bootstrap_icon "chevron-right" %} Submit
    </button>
  {% endbuttons %}
         <input type='hidden' name="commentid" value="{{ commentid }}" />
        <input type='hidden' name="commenttype" value="child" />
    </form>
{% endblock %}