{% extends 'django_commentseasy/base.html' %}
{% load django_comments_easy %}
{% load humanize %}

{% block content %}


    {% for comment in comments %}
    <div class="well">
    <div class="media">

  <div class="media-body">
    <h4 class="media-heading">{{ comment.author.username }} <small><i>{{comment.timestamp|naturaltime }}</i></small></h4>
    <p>{{ comment.comment }}</p>
  </div>
        <th><span class="badge">Likes {% get_comment_likes comment.id %} </span></th>{% render_like_button  comment.id  %}
        {% render_remove_button  comment.id  %}
        {% render_reply_list comment.id %}
        {% render_reply_form comment.id %}




</div></div>
{% endfor %}


{% endblock %}
